RewriteEngine On
Options -MultiViews -Indexes

AddType application/xml .xml
AddType text/x-component .htc

ErrorDocument 403 /index.php
ErrorDocument 404 /index.php

php_flag magic_quotes_gpc off
php_flag short_open_tag off

RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
RewriteRule ^.*$ http://%1/$0 [R=301,L]

RewriteCond %{REQUEST_FILENAME} -d [OR]
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^.*$ - [QSA,L]

RewriteRule ^favicon\.ico$ /design/favicon.ico [NC,L]

RewriteCond %{REQUEST_URI} ^/(\w+).*$
RewriteCond %{DOCUMENT_ROOT}/%1.php !-f
RewriteRule ^.+$ /index/$0

RewriteRule ^(\w+)/?$ /$1.php [QSA,L]
RewriteRule ^(\w+)/(\w+)/?$ /$1.php?0=$2 [QSA,L]
RewriteRule ^(\w+)/(\w+)/(\w+)/?$ /$1.php?0=$2&1=$3 [QSA,L]