  {!!&:login;<p>
    Welcome back, good sir! Options are below. 
    This area may server a better purpose in the future.
  </p>
  <h2>Options</h2>
  <ul>
    <li><a href="/post">Post Article</a></li>
    <li><form action="/admin" method="POST" role="button">
      <input type="submit" name="clear" value="Clear Cache"/>
    </form></li>
    <li><a href="/admin/logout">Logout</a></li>
  </ul>}
  {!&:login;<form action="/admin" method="POST">
    <label>Password: <input type="password" name="password" required="" autofocus=""/></label>
    <input type="submit" value="Login"/>
  </form>}