<article>
  <header>
    <h1><a href="&:permalink;" rel="bookmark">
      {&:title;}
    </a></h1>
    <time datetime="&:datetime;" pubdate="">{<a href="&:edit;">}
      {&:date#0;<sup>&:date#1;</sup>&:date#2;}
    {!!&:edit;</a>}</time>
  </header>
  &:content;
  {<aside id="comments">
    <h2>Comments</h2>
    &:comments;
    &:form;
  </aside>}
  <footer>
    {<a href="&:prev#href;" rel="prev" title="&:prev#title;">Previous Article</a>}
    {!&:next#href;!&:comments;<a href="&:permalink;" rel="bookmark last" title="Permalink">Current Article</a>}
    {!&:next#href;!!&:comments;<a href="#comments" rel="reply" title="Comments">Reply</a>}
    {<a href="&:next#href;" rel="next" title="&:next#title;">Next Article</a>}
  </footer>
</article>
