<!doctype html>
<title>{&:title; ▪ }epsilon-not</title>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="stylesheet" href="/style" title="Liquorice"/>
<link rel="alternate" type="application/atom+xml" href="/feed"/>
{<link rel="canonical" href="&:canonical;"/>}
<!--//————————————————————————————————————————————————————————————————————————————————————//-->
<header>
  <h1><a href="/" rel="home{&:rel#home; self}">
    epsilon-not
  </a></h1>
  <nav><ul>
    <li><a href="/browse" rel="archives{&:rel#article; directory}">Articles</a></li>
    <li><a href="/browse/latest" rel="section{&:rel#latest; self}">Recently</a></li>
    <li><a href="/feed" rel="alternate">Feed</a></li>
  </ul></nav>
</header>
&:content;
<footer>
  <a href="#search" rel="search">Search Articles</a>
  <form action="/browse" method="GET" id="search">
    <input type="search" name="search" required=""/>
    <input type="submit" value="Search"/>
  </form>
  <small>
    <a href="//creativecommons.org/licenses/by/3.0" rel="license">©</a>
    Copyright 2010-2011, epsilon-not.net
  </small>
  <a href="//github.com/chjj/epsilon-not">Source</a>
</footer>
