/* /-------------------------/ (c) Copyright 2010-2011, Christopher Jeffrey (epsilon-not.net) /-------------------------/ */

/* /-=-=-/ fonts /-=-=-/ */
@font-face {
	font-family: nobile; font-style: normal; font-weight: normal;
	src: local("Nobile"), url("http://themes.googleusercontent.com/font?kit=DG8QsMl4cLhwKd7DbhnV6A") format("truetype");
}

/* /-=-=-/ html5 elements /-=-=-/ */
header, footer, nav, section, aside, 
article, hgroup, figure, figcaption { display: block; }

/* /-=-=-/ basic elements /-=-=-/ */
::selection { background: rgba(0, 0, 0, 0.5); color: rgba(255, 255, 255, 0.8); }
::-moz-selection { background: rgba(0, 0, 0, 0.5); color: rgba(255, 255, 255, 0.8); }

/* /---/ text level semantics /---/ */
a { text-decoration: none; } /* i hate styling links */
	a:focus { outline: none; }
	nav a:hover, header + * a:hover { text-decoration: underline; }
		h2 > a:hover, footer > a:hover { text-decoration: none; }
	
abbr { border: none; text-decoration: none; }
	abbr[title] { cursor: help; border-bottom: rgba(0, 0, 0, 0.15) solid 1px; }

mark { background: lightYellow; }
small { font-size: 11px; }

/* /---/ content flow /---/ */
p, ul, ol, dl, dd, figure, blockquote, pre, hr { margin: 0 0 20px; padding: 0; word-wrap: break-word; }

/* /---/ content blocks /---/ */
figure, blockquote, pre { padding: 20px; }
	figure > *, blockquote > *, pre > * { padding: 0; }
	figcaption { margin: 20px 20px 0 20px; }
	blockquote { margin-left: 45px; padding-bottom: 1px; }
		blockquote:before { content: "“"; float: left; margin: -30px 0 0 -65px; font: 90px/1 serif; }
		blockquote > cite { display: block; margin: 20px 40px; font-style: italic; }
	pre { white-space: pre-wrap; }
		pre > code { font-size: 11px; }
		pre > code[title]:before { float: right; margin: -10px -5px 0 0; content: "[" attr(title) "]"; }

h2, h3, h4, h5, h6, dt { font: normal 34px/1 serif; letter-spacing: 0.125em; padding: 0; margin: 0 0 0.5em; }
	h3 { font-size: 22px; }
	h4, dt { font-size: 20px; }
	h5 { font-size: 18px; }
	h6 { font-size: 16px; }

hr { height: auto; border: none; text-align: center; clear: both; cursor: default; } 
	hr:before { content: "∙ § ∙"; font: italic 40px/1 serif; color: rgba(0, 0, 0, 0.2); }

img { display: block; outline: none; border: #888 solid 1px; }
	p > img { float: right; margin: 0 0 20px 20px; }
	p:nth-of-type(even) > img { float: left; margin: 0 20px 20px 0; }

/* /--/ basic form controls /--/ */
input, textarea { 
	display: block; height: 20px; font: inherit; 
	margin: 0; padding: 0 2px; -webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; box-sizing: border-box;
}
	/* get rid of google chrome outline */
	input:focus, textarea:focus { outline: none; } 
	input[type="checkbox"] { 
		display: inline-block; height: auto; width: auto; 
		margin: 0; padding: 0; vertical-align: middle; 
	}
	input[type="submit"] { 
		width: auto; background: transparent; -webkit-box-shadow: none;
		-moz-box-shadow: none; box-shadow: none; overflow: hidden;
	}

/* /--/ paragraphs /--/ */
body > article > header + p, h2 + p { min-height: 40px; }
body > article > header + p:first-line, h2 + p:first-line { font-weight: bold; }

blockquote > p:first-child:first-letter, 
body > article > header + p:first-letter, 
h2 + p:first-letter, aside[role="note"]:first-letter,
form > p:first-letter { float: left; font: 40px/28px serif; padding: 8px 3px 0 0; }

/* /--/ lists /--/ */
ul { list-style-type: square; }
	ul ul { list-style-type: circle; }
ol { list-style-type: decimal; }
	ol ol { list-style-type: lower-alpha; }
li { margin: 0 0 10px; padding: 0; }
	section li { margin-left: 20px; }
	article li { margin-left: 40px; }
dd { margin-left: 20px; /*padding: 0;*/ }

/* /-=-=-/ layout design /-=-=-/ */
@media only all { 
html { 
	font: 12px/20px verdana, sans-serif; cursor: default; overflow-y: scroll; 
	width: 960px; margin: 0 auto; height: 100%; padding-bottom: 50px; 
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}
head { /* use head because some browsers don't allow ::before & ::after to be fixed */
	display: block; position: fixed; z-index: -1; top: 25px; bottom: 25px; left: 0; right: 0; 
	border: rgba(0, 0, 0, 0.05) 50px; border-style: solid none; /*border-width: 0.1vh;*/
}
head > * { display: none; }
body {
	min-height: 100%; padding: 25px 0; margin: 0 90px; border: 2px; border-style: none solid; 
	-moz-box-shadow: rgba(0, 0, 0, 0.5) 2px -8px 8px; -webkit-box-shadow: rgba(0, 0, 0, 0.5) 2px 0 8px; 
	box-shadow: rgba(0, 0, 0, 0.5) 2px 0 8px; 
	/* firefox wrongly adds the box shadow blur radius to the scrollHeight, 
	   so it needs to be subtracted from the y offset */
}

	/* /---/ page header /---/ */
	body > header { height: 23px; position: fixed; top: 0; left: 0; right: 0; border-bottom: solid 2px; }
		body > header > * { width: 960px; margin: 0 auto; }
		
		/* /--/ header h1 /--/ */
		h1 > a { 
			display: block; position: absolute; z-index: 1; height: 35px; width: 35px; padding: 0; 
			margin: 8px 0 0 43px; font: 30px/23px verdana; text-indent: 2px; overflow: hidden;
			border: solid 1px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; 
		}
			h1 > a:before { content: "ε"; display: block; margin-left: 1px; padding-bottom: 30px; }
			h1 > a:after { content: "0"; font-size: 75%; position: absolute; top: 6px; right: 4px; }
			
			/* make the logo spin every 10 seconds */
			@-webkit-keyframes spin {
				0% { -webkit-transform: rotate(-360deg); }
				9% { -webkit-transform: none; }
				100% { -webkit-transform: none; }
			}
			h1 > a { -webkit-animation: spin 11s linear 0s infinite; }
		
		/* /--/ header nav /--/ */
		nav > ul { list-style: none; margin: 0 90px; padding-left: 5px; }
			nav li { 
				margin: 6px 20px 0 0; float: left; font: 12px/1 nobile, verdana; 
				letter-spacing: 2px; text-transform: lowercase; 
			}
				nav li:before { content: "▪"; margin-right: 4px; }
		
		/* /--/ header aside /--/ */
		aside > ol { 
			position: absolute; z-index: -1; margin: 25px 0 0 10px; width: 50px; opacity: 0.6;
			list-style: none; border: solid 2px; border-top: none; padding-top: 15px; 
			-webkit-transition: 0.2s; -moz-transition: 0.2s; -o-transition: 0.2s; transition: 0.2s; 
		}
		
			/* make the aside fade in on page load */
			@-webkit-keyframes fade { 0% { opacity: 0.6; } 50% { opacity: 1; } 100% { opacity: 0.6; } }
			aside > ol { -webkit-animation: fade 1s linear; }
			
			/* webkit bug: //bugs.webkit.org/show_bug.cgi?id=45168, id=18027, id=12520 */
			h1:hover ~ aside > ol, aside:hover > ol { opacity: 1; }
			aside > ol > li, aside > ol a { margin: 0; padding: 0; }
			aside > ol a { display: block; height: 60px; font-size: 50px; line-height: 1; text-align: center; }
				aside > ol a:before { content: "+"; } 
				aside a > time { display: none; }
		
	/* /---/ content section /---/ */
	body > header + * { cursor: auto; margin: 20px; padding: 0 20px; font-family: nobile, verdana, sans-serif; }
		
		/* /--/ content header /--/ */
		h2 { margin-left: -20px; margin-right: -20px; }
			h2 > a { color: inherit; }
				h2 > a:hover:after { content: "«"; font: 1.1em/0.8em arial; margin-left: 0.5ex; }
		h2 + time { 
			display: block; position: fixed; top: 12px; right: 50%; height: 14px; margin-right: -376px; 
			padding: 4px; border: solid 1px; line-height: 1; letter-spacing: 2px; text-indent: 2px;
		}
			time > a { color: inherit; text-shadow: inherit; text-decoration: none !important; }
			time sup { font-size: 70%; line-height: 0; text-transform: none; }
		
		/* /--/ aside boxes /--/ */
		aside[role="note"] { 
			width: 100px; padding: 10px; margin: 5px -42px 5px 20px;
			float: right; font-size: 10px; -webkit-border-radius: 5px 0 0 5px; 
			-moz-border-radius: 5px 0 0 5px; border-radius: 5px 0 0 5px; 
		}
			aside[role="note"] a { border-bottom: dotted 1px; text-decoration: none !important; }
		
		/* /--/ article comments /--/ */
		article > aside[id], article + h4 + form { border-top: rgba(0, 0, 0, 0.1) solid 1px; }
			aside > h3, aside > h4 { position: absolute; clip: rect(0, 0, 0, 0); }
			aside > article { margin: 20px 30px; } 
				aside > article h4 { margin-top: 0; margin-left: -10px; }
					h4 > a:hover { text-decoration: underline; }
						h4 > a:first-child { color: inherit; }
							h4 > a[rel~="related"] { color: steelblue; }
						h4 > a[rel="bookmark"] { color: #888; }
					h4 > img { float: left; margin-right: 10px; height: 18px; width: 18px; }
				h4 + time { display: none; font: 15px/1.2 serif; color: #888; float: right; margin-top: -28px; }
					aside > article:hover time, aside > article:hover > footer { display: block; }
				aside > article > footer { display: none; margin-top: -10px; }
			aside > form { margin: 20px; } 
				article + h4 + form { padding-top: 20px; }
		
		/* /--/ form controls /--/ */
		fieldset { float: right; border: none; margin: -40px 0 0 0; padding: 0; }
		label { 
			display: block; margin-bottom: 8px; letter-spacing: 1px; text-transform: uppercase;
			border-left: rgba(0, 0, 0, 0.075) solid 25px; padding-left: 15px; color: #888;
		} 
			label > input, textarea {
				margin-top: 2px; border: #888 solid 1px; 
				-webkit-box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 2px inset;
				-moz-box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 2px inset; 
				box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 2px inset; 
			}
			textarea { width: 100%; height: 180px; padding: 5px; overflow-x: hidden; resize: vertical; margin: 10px 0 8px; }
				h2 ~ form textarea { height: 400px; font-size: 11px; line-height: 18px; font-family: monospace; }
			label > input { width: 70%; float: right; }
				label > input[type="checkbox"] { float: none; margin-left: -32px; margin-top: -5px; margin-right: 5px; }
		label ~ input[type="submit"] { 
			width: auto; height: auto; cursor: pointer; border: none; margin-top: 2px; 
			font-size: 14px; color: #888; text-transform: uppercase; float: right; margin-left: 30px;
		}
		h2 + form[action*="admin"] { width: 50%; }
			input[type="password"] { width: 200px; }
		
		/* /--/ browse list /--/ */
		section > ol > li { font-size: 13px; }
			section > ol time { display: block; }
		
		/* /--/ content footer /--/ */
		header + * > footer { position: fixed; z-index: 2; top: 11px; left: 50%; margin-left: 404px; width: 62px; }
			header + * > footer > a { 
				display: block; overflow: hidden; border: solid 1px; 
				height: 20px; width: 21px; padding: 2px;
			}
				header + * > footer > a:first-child { float: left; }
				header + * > footer > a:first-child + a { float: right; }
				header + * > footer > a:before { 
					display: block; font: 40px/13px arial, verdana; 
					text-align: center; padding-bottom: 20px; 
				}
					a[rel~="prev"]:before { content: "«"; }
					a[rel~="next"]:before { content: "»"; }
					a[href="#comments"]:before, 
					footer > a[rel~="bookmark"]:before { content: "#"; font-size: 25px; line-height: 20px; }
					a[title~="Delete"]:before { content: "x"; font-size: 37px; }
	
	/* /---/ page footer /---/ */
	body > footer { 
		position: fixed; left: 0; right: 0; bottom: 0; height: 23px; border-top: solid 2px; 
		-webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 -2px 10px; -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 -2px 10px; 
		box-shadow: rgba(0, 0, 0, 0.4) 0 -2px 10px; 
	}
		footer > form { position: absolute; top: -12px; left: 50%; margin-left: -445px; } 
			footer [type="submit"] { 
				position: relative; z-index: 1; height: 29px; width: 29px; margin-left: -20px; margin-top: -4px;
				border: solid 2px; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); 
				-o-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg);
				float: left; cursor: pointer; color: rgba(0, 0, 0, 0) !important;
			}
			footer [type="search"] { 
				float: right; width: 45px; height: 22px; margin-left: -11px; -moz-box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 10px;
				-webkit-box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 10px; box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 10px; 
				-webkit-appearance: textfield; padding-left: 21px; border: solid 1px;
				-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
				-webkit-transition: 0.1s; -moz-transition: 0.1s; -o-transition: 0.1s; transition: 0.1s;
			}
				form:hover > [type="search"], [type="search"]:focus { width: 145px; }
		footer > small { 
			display: block; margin-top: 6px; font: 11px/1 verdana, sans-serif;
			text-align: center; text-transform: uppercase; letter-spacing: 2px; 
		}
			footer > small { margin-top: 3px; line-height: 17px; }
			a[rel=license] { content: url("/front/by.svg"); vertical-align: top; padding-top: 1px; }
		body > footer > a { 
			height: 29px; width: 29px; font: 29px/27px arial, sans-serif; overflow: hidden;
			position: absolute; left: 50%; top: -15px; margin-left: 420px; border: solid 1px; 
		}
			body > footer > a:before { content: "▲"; display: block; text-align: center; padding-bottom: 15px; }

/* /---/ color scheme /---/ */
html { color: #303030; background: #dadbd3; /*color: #222;*/ }
body > header, body > footer, h1 > a, h2 + time { 
	background: url("data:image/png;base64,\
		iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAALHRFWHRDcmVhdGlvbiBUaW1lAFR1ZSAzMCBOb3YgMjA\
		xMCAwOTo0NjoyMiAtMDYwMCVwtDEAAAAHdElNRQfaCx4PLiMaW7s3AAAACXBIWXMAAB7CAAAewgFu0HU+AAAABGdBTU\
		EAALGPC/xhBQAAApRJREFUeNp9VMtOYkEQ7TvyKBOIGCEkJOiCFd/shhULVqgLiCG6MEYEeYm8lSCIqIgiKlwBde7pm\
		e65NHFuUjT9qjp16lRrj4+PZLPZ2Gw2Y29vb0zTNOb3+/Xj42MKBoMMew6HQ2fGl81mKRAIsLW1NT5Xv9FoROz7+5tb\
		tVol8V+1XC63tAcg0WiUPj4+aDKZUL1e5yPfrFQq8sLX1xe1220+b7ValEgkqNfrEdCpTuEM43g85mOxWKSlqOolg4q\
		FtZeXF7q7u6PpdEqNRoPEfr/f56OGhefnZ+bxeHQg+vz85Ly5XC7mdDo5V5lMhsDt5uYmc7vdkj8gPDg4YODa6/Wy1d\
		VVndVqNRLozs/PKR6PS0QgWUU8HA4X1sR9YfxH1/Wli0bFZTqDwYDMXF9eXtLr6yvd39+T4P3h4YGkw6enJ+mw0+mQc\
		IjKqYHU4OBScI0sf3W7XVpfX5e8WCwWPq6srHB7f3//I4e/n91u1xEUqDE30Il7+sbGhs6jlMtlgmPIY3t7WyIQqe7v\
		71MoFFpIX5iQmMiOa0dN6+joSK6hY0D89fX10rl0Ok3z+Zxubm5ooSgqIrMm0SW3t7dkFjKsUCgsBBBOWSwWkxulUok\
		QFagh2p9aUU0XPEuE0NXFxYVcEFIw625vb4+ACJVXnYJ3jGdnZ7yD5AY4EpIw84WDKBpELigRQc38y5QhUrUD8vn8kt\
		bwOCSTSUIv/48GTUQ1HDLjrZN6hAR8Ph/XmdVqleuiWEYz8H43tMc1iKy2trZ0fkDlxqwttFskEpHdcHJyQuJ9xDm8M\
		kIFyIRhIqoEUk9PT8n8jP2U4uHh4YLQr66u/vWySixsZ2eHdnd3ybwuehvFCIfDlEql+LzZbMp7vwGFXfALGoMImAAA\
		AABJRU5ErkJggg==\
	") #797e83; 
}
nav a, body > footer a, h2 + time { color: #fff; text-shadow: #000 1px 1px 1px; }
h1 > a { color: #797e83; text-shadow: #000 1px 1px 2px; }
figure, blockquote, pre, input, textarea { background: #dadbd4; } 
aside > ol, header + * > footer > a, 
aside[role="note"], body > footer > a, footer [type="submit"] { background: #48454c; }
aside > ol a, header + * > footer > a, 
aside[role="note"], aside[role="note"] a { color: #fff; }
body, footer [type="search"] { background: #eee; }

body > header, h1 > a, aside > ol, 
body, body > footer, header + * > footer > a,
footer [type="submit"], footer [type="search"] { border-color: #fff; }

header li, body > footer, nav a:hover, time > a:hover, 
body > footer a:hover, nav a[rel~="self"], 
nav a[rel~="directory"], footer [type="search"] { color: #000; text-shadow: rgba(255, 255, 255, 0.15) 1px 1px; } 

h2, h3, h4, h5, h6, dt, footer [type="submit"] { color: #48454c; } 

h1 > a:hover, h1 > a:focus, h1 > a:active, 
footer > a:hover, footer [type="submit"]:hover { border-color: orange; }
aside > ol a:hover, label:hover { color: orange; }

/* /---/ box shadows /---/ */
body > header, h1 > a, aside > ol, h2 + time,
header + * > footer > a, aside[role="note"],
body > footer > a, footer [type="submit"] { 
	-moz-box-shadow: rgba(0, 0, 0, 0.4) 0 2px 10px; 
	-webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 2px 10px; 
	box-shadow: rgba(0, 0, 0, 0.4) 0 2px 10px; 
}

} 

/* /-=-=-/ media queries /-=-=-/ */
@media print {
	body, aside[role="note"] { -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
	head, body > header, body > footer, header + * > footer, h2 + time, form { display: none; }
	html { width: auto; padding: 0; }
	body { margin: 0; padding: 0; }
	h2 { margin-left: 0; margin-right: 0; margin-top: 0; }
	h2, h3, h4, h5, h6 { page-break-after: avoid; }
	pre, blockquote, figure, aside[role="note"] { page-break-inside: avoid; }
	aside[role="note"] { margin-right: 0; padding: 0; }
}

/* /---/ adjust design for smaller resolutions /---/ */
@media (max-width: 960px) { /* change design into a fluid layout */
	@viewport { width: device-width; zoom: 1.0; /*user-zoom: fixed;*/ }
	html, body > header > * { width: auto; }
	header + * > footer { left: auto; margin-left: 0; right: 14px; }
	h2 + time { margin-right: 0; right: 104px; }
	body > footer > form { margin-left: 0; left: 35px; }
	body > footer > a { left: auto; margin-left: 0; right: 30px; }
}

@media (max-width: 760px) {
	nav li:nth-child(3), form > p { display: none; }
	article form { overflow: hidden; }
	label { font-size: 9px; border: none; padding: 0; }
}

@media (max-width: 690px) {
	h2 + time { display: none; }
	label > input { width: 50%; }
}

/* at this point, its safe to assume the person is probably using 
   a mobile device that doesnt support position: fixed */
@media (max-width: 600px) {
	html { overflow: auto; }
	body { margin: 0; position: relative; border: none; overflow: hidden; }
	h1 > a { margin-left: 10px; }
	h2 { padding-top: 20px; }
	body > footer > a { right: 10px; }
	nav ul { margin-left: 50px; }
	header > aside { display: none; }
	footer > small { text-indent: 40px; }
	body > header, body > footer, 
	body > header + * > footer { position: absolute; }
}

@media (max-width: 450px) {
	nav li:nth-child(2) { display: none; }
	footer > small { letter-spacing: 0; }
	label > input { width: 35%; }
}

@media (max-width: 310px) {
	footer > small { font-size: 8px; }
	nav li:last-child { display: none; }
}